### Data-Types

In [1]:
type(5)

int

In [2]:
type(5.0)

float

In [3]:
type('5')

str

In [4]:
type(True)

bool

In [5]:
print('Hi guys')

Hi guys

In [6]:
input('Tell me your age')

Tell me your age56

'56'

In [7]:
int(input('Tell me your age'))

Tell me your age56

56

In [9]:
# float can be converted to an integer
# but string cannot be converted to int.
int(56.0)

56

In [10]:
int('56.0')

ValueError: invalid literal for int() with base 10: '56.0'

In [11]:
int(float('56.0'))

56

### Arithmetic Operations

In [12]:
5+5

10

In [13]:
5*5

25

In [18]:
5 ** 5

3125

In [19]:
5/5

1.0

In [20]:
5//5

1

In [21]:
5/2

2.5

In [22]:
5//2

2

In [24]:
5%3

2

### Variables

In [30]:
age = int(input("What's your age?"))

What's your age?40

In [31]:
type(age)

int

In [32]:
age

40

### Lists

In [36]:
my_list = [30,40,400,4000, 'Miral','Smit', True, 56.0]

In [37]:
type(my_list)

list

In [38]:
my_list

[30, 40, 400, 4000, 'Miral', 'Smit', True, 56.0]

In [39]:
my_list = [30,40,400,4000, 'Miral','Smit', True, 56.0, ['a','b','c']]

In [40]:
my_list

[30, 40, 400, 4000, 'Miral', 'Smit', True, 56.0, ['a', 'b', 'c']]

### If-conditions

In [41]:
age = int(input('Whats your age?'))

Whats your age?56

In [42]:
age

56

In [43]:
ticket = 20

In [44]:
if age>50:
    ticket = 10

In [45]:
ticket

10

##### Sample Code

In [49]:
age = int(input('Whats your age?'))

ticket = 20

if age>50:
    ticket = 10
    print('I am inside IF condition')

print(ticket)

Whats your age?60
I am inside IF condition
10

In [55]:
age = int(input('Whats your age?'))

#senior citizen
if age>50:
    ticket = 10
    print('I am inside IF condition-1')
else:
    ticket=20
    print('I am inside else condition')

print(ticket)

Whats your age?36
I am inside else condition
20

In [52]:
age = int(input('Whats your age?'))

ticket = 20

#senior citizen
if age>50:
    ticket = 10
    print('I am inside IF condition-1')
if age<12:
    ticket = 5
    print('price:',ticket)
    print('I am inside IF condition-2')

print(ticket)

Whats your age?7
price: 5
I am inside IF condition-2
5

In [58]:
age = int(input('Whats your age?'))


#senior citizen
if age>50:
    ticket = 10
    print('I am inside IF condition-1')
elif age<12:
    # kids
    ticket = 5
    print('price:',ticket)
    print('I am inside IF condition-2')
else:
    #adults
    ticket = 20

print(ticket)

Whats your age?16
20

#### For Loops

In [62]:
my_list = ['a','b','c',1,2,3]

In [63]:
my_list

['a', 'b', 'c', 1, 2, 3]

In [68]:
for element in my_list:
    print(element)

a
b
c
1
2
3

### For Loop - IF condition Combo

In [69]:
passengers = [10,20,30,40,50,60]

In [72]:
for age in passengers:
    if age>50:
        #senior citizen
        ticket = 10
    elif age<12:
        # kids
        ticket = 5
    else:
        #adults
        ticket = 20

    print(ticket)

5
20
20
20
20
10

In [73]:
passengers[0]

10

In [74]:
passengers[1]

20

In [75]:
passengers[-1]

60

In [ ]:
#list[start_index:end_index+1]

In [76]:
passengers[0:2]

[10, 20]

In [77]:
passengers[0:4]

[10, 20, 30, 40]

In [79]:
passengers[1:3]

[20, 30]